<!-- Footer Start -->
{{-- <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="{{ asset('admin/assets/images/seal-4.png') }}" alt="" width="150" height="150">
            </div>
            <div class="col-md-3">
                <h4 class="header-title font-13">REPUBLIC OF THE PHILIPPINES</h4>
                <small class="text-muted mb-0 font-13">
                    All content is in the private domain unless otherwise stated.
                </small>
            </div>
            <div class="col-md-4">
                <div class="footer-links d-none d-sm-block">
                    <h4 class="header-title font-13">ABOUT GOVPH</h4>
                    <small class="text-muted mb-0 font-13">
                        Learn more about the Philippine government, its structure, how government works and the people behind it.
                    </small>

                        <ul class="list-unstyled mb-3 mt-2 font-13">
                            <li><a href="http://www.gov.ph/">GOV.PH</a></li>
                            <li><a href="http://www.gov.ph/data">Open Data Portal</a></li>
                            <li><a href="http://www.officialgazette.gov.ph">Official Gazette</a></li>
                        </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links d-none d-sm-block">
                    <h5 class="header-title font-13">GOVERNMENT LINKS</h5>
                    <ul class="list-unstyled mb-3 font-13">
                        <li><a href="http://president.gov.ph/">Office of the President</a></li>
                        <li><a href="http://ovp.gov.ph/">Office of the Vice President</a></li>
                        <li><a href="http://www.senate.gov.ph/">Senate of the Philippines</a></li>
                        <li><a href="http://www.congress.gov.ph/">House of Representatives</a></li>
                        <li><a href="http://sc.judiciary.gov.ph/">Supreme Court</a></li>
                        <li><a href="http://ca.judiciary.gov.ph/">Court of Appeals</a></li>
                        <li><a href="http://sb.judiciary.gov.ph/">Sandiganbayan</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> --}}
<!-- end Footer -->
